<div class="example-container">

    <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]"
        class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="builder-box" *ngFor="let item of done" cdkDrag>
            <div *ngIf="item === 'text'"><input type="text" size="30" /></div>
            <div *ngIf="item === 'textarea'"><input type="textarea" rows="30" cols="40" /></div>
            <div *ngIf="item === 'button'"><button>Button</button></div>
            <div *ngIf="item === 'checkbox'"><input type="checkbox" /></div>
            <div *ngIf="item === 'select'"><select class="select-css" name="select">
                    <option value="value1" selected>Value 1</option>
                    <option value="value2">Value 2</option>
                    <option value="value3">Value 3</option>
                </select></div>
        </div>

    </div>
</div>

<div class="example-container">

    <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList]"
        class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of todo" cdkDrag>
            <div *ngIf="item === 'text'"><input type="text" size="30" /> Input type text</div>
            <div *ngIf="item === 'textarea'"><input type="textarea" rows="30" cols="40" /> Textarea</div>
            <div *ngIf="item === 'button'"><button>Button</button></div>
            <div *ngIf="item === 'select'"><select class="select-css" name="select">
                    <option value="value1" selected>Value 1</option>
                    <option value="value2">Value 2</option>
                    <option value="value3">Value 3</option>
                </select>
            </div>
            <div *ngIf="item === 'checkbox'"><input type="checkbox" />Checkbox</div>
        </div>

    </div>

</div>