<div class="container">
    <p>Available fields</p>

    <div class="fields">
        <div>
            <div class="draggable-field" cdkDrag><textarea name="" id="" cols="30" rows="10"></textarea></div>
            <div class="draggable-field" cdkDrag><input type="text"></div>
            <div class="draggable-field" cdkDrag><button>Button</button></div>
        </div>
        <div>
            <div class="draggable-field" cdkDrag><select class="select-css" name="" id="">
                </select></div>
            <div class="draggable-field" cdkDrag><input type="checkbox" name="" id=""></div>
        </div>
    </div>
</div>