<div class="container">
    <mat-accordion>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">

            <mat-expansion-panel-header>
                <mat-panel-title>
                    Field styling
                </mat-panel-title>

            </mat-expansion-panel-header>

            <span>Background color </span>
            <select name="select" class="select-css">
                <option>transparent</option>
                <option>white</option>
                <option>beige</option>
                <option>papayawhip</option>
                <option>skyblue</option>
            </select>

        </mat-expansion-panel>



        <mat-expansion-panel [expanded]="openListStyle" (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">

            <mat-expansion-panel-header>
                <mat-panel-title>
                    Form general styling
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="fields"><input type="text"> Placeholder text<input type="checkbox"></div>

            <div class="fields"> Placeholder width
                <select name="select" class="select-css">
                    <option>30px</option>
                    <option>40px</option>
                    <option>50px</option>
                    <option>60px</option>
                    <option>70px</option>
                </select>
            </div>


            <div class="fields"> Placeholder height
                <select name="select" class="select-css">
                    <option>40px</option>
                    <option>50px</option>
                    <option>60px</option>
                    <option>70px</option>
                    <option>80px</option>
                </select>
            </div>


            <div class="fields">Required<input type="checkbox"></div>


            <div class="fields">Border style
                <select name="select" class="select-css">
                    <option>none</option>
                    <option>solid</option>
                    <option>dashed</option>
                    <option>dotted</option>
                    <option>double</option>
                </select>
            </div>

            <div class="fields"> Font size
                <select name="select" class="select-css">
                    <option>8px</option>
                    <option>10px</option>
                    <option>12px</option>
                    <option>14px</option>
                    <option>16px</option>
                </select>
            </div>



            <div class="fields"> Font weight
                <select name="select" class="select-css">
                    <option>normal</option>
                    <option>bold</option>
                    <option>bolder</option>
                    <option>light</option>
                </select>
            </div>

            <div class="fields"> Color
                <select name="select" class="select-css">
                    <option>red</option>
                    <option>green</option>
                    <option>blau</option>
                    <option>black</option>
                </select>
            </div>
        </mat-expansion-panel>


    </mat-accordion>
</div>